* {
    box-sizing: border-box;
    margin-top: 0;
}


.user-card {
    width: 300px;
    padding: 1em;
    margin: 1em;
    background-color: gainsboro;
    cursor: pointer;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.12);
    transition: all 0.5s;
    border-radius: 10px;
}

.user-card:hover {
    background-color: gray;
}

.user-card-container {
    display: flex;
}


a {
    display: inline-block;
    margin-bottom: 1em;
}